<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>dottedcircle</string>
      <string>c_m</string>
      <string>c_n</string>
      <string>c_t</string>
      <string>c_d</string>
      <string>c_th</string>
      <string>c_dh</string>
      <string>c_s</string>
      <string>c_sh</string>
      <string>c_l</string>
      <string>c_r</string>
      <string>c_y</string>
      <string>v_i</string>
      <string>v_u</string>
      <string>v_e</string>
      <string>v_o</string>
      <string>v_a</string>
      <string>v_schwa</string>
      <string>v_schwa_long</string>
      <string>v_wi</string>
      <string>v_wu</string>
      <string>v_we</string>
      <string>v_wo</string>
      <string>v_wa</string>
      <string>v_wschwa</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>c_d</key>
      <string>base</string>
      <key>c_dh</key>
      <string>base</string>
      <key>c_l</key>
      <string>base</string>
      <key>c_m</key>
      <string>base</string>
      <key>c_n</key>
      <string>base</string>
      <key>c_r</key>
      <string>base</string>
      <key>c_s</key>
      <string>base</string>
      <key>c_sh</key>
      <string>base</string>
      <key>c_t</key>
      <string>base</string>
      <key>c_th</key>
      <string>base</string>
      <key>c_y</key>
      <string>base</string>
      <key>dottedcircle</key>
      <string>base</string>
      <key>space</key>
      <string>base</string>
      <key>v_a</key>
      <string>mark</string>
      <key>v_e</key>
      <string>mark</string>
      <key>v_i</key>
      <string>mark</string>
      <key>v_o</key>
      <string>mark</string>
      <key>v_schwa</key>
      <string>mark</string>
      <key>v_schwa_long</key>
      <string>mark</string>
      <key>v_u</key>
      <string>mark</string>
      <key>v_wa</key>
      <string>mark</string>
      <key>v_we</key>
      <string>mark</string>
      <key>v_wi</key>
      <string>mark</string>
      <key>v_wo</key>
      <string>mark</string>
      <key>v_wschwa</key>
      <string>mark</string>
      <key>v_wu</key>
      <string>mark</string>
    </dict>
  </dict>
</plist>
