<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>c_ch</key>
    <string>c_ch.glif</string>
    <key>c_d</key>
    <string>c_d.glif</string>
    <key>c_dh</key>
    <string>c_dh.glif</string>
    <key>c_j</key>
    <string>c_j.glif</string>
    <key>c_l</key>
    <string>c_l.glif</string>
    <key>c_m</key>
    <string>c_m.glif</string>
    <key>c_n</key>
    <string>c_n.glif</string>
    <key>c_r</key>
    <string>c_r.glif</string>
    <key>c_s</key>
    <string>c_s.glif</string>
    <key>c_sh</key>
    <string>c_sh.glif</string>
    <key>c_t</key>
    <string>c_t.glif</string>
    <key>c_th</key>
    <string>c_th.glif</string>
    <key>c_y</key>
    <string>c_y.glif</string>
    <key>dottedcircle</key>
    <string>dottedcircle.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>v_a</key>
    <string>v_a.glif</string>
    <key>v_e</key>
    <string>v_e.glif</string>
    <key>v_i</key>
    <string>v_i.glif</string>
    <key>v_o</key>
    <string>v_o.glif</string>
    <key>v_schwa</key>
    <string>v_schwa.glif</string>
    <key>v_u</key>
    <string>v_u.glif</string>
    <key>v_wa</key>
    <string>v_wa.glif</string>
    <key>v_we</key>
    <string>v_we.glif</string>
    <key>v_wi</key>
    <string>v_wi.glif</string>
    <key>v_wo</key>
    <string>v_wo.glif</string>
    <key>v_wschwa</key>
    <string>v_wschwa.glif</string>
    <key>v_wu</key>
    <string>v_wu.glif</string>
  </dict>
</plist>
